<%
# Add the stylesheet for testcase status
content_for :header_tags do
  concat stylesheet_link_tag 'redjenkins', :plugin => 'red_jenkins'
  concat javascript_include_tag 'togglebutton', :plugin => 'red_jenkins'
end

# Join the testcases with the association table to find all
# testcases with the given issue id:
testcases = Testcase.joins(:testcase_issue_relations).where("testcase_issue_relations.issue_id = ?", @issue.id)

tests = testcases.length

passed = 0
testcases.each do |t|
	passed += 1 if t.status.downcase == "passed"
end

%>

<hr />

<div class="testcaseprogress"> 
  <p><strong>This issues overall testprogress</strong>
  <span style="float: right;">
  <progress id="issuetestprogress" max="<%= testcases.length %>" value="<%= passed %>" />
  </span></p>
  <!-- TODO:add percentage-->
</div>

<hr />
  
<p><strong>Automatic testcases</strong></p>

<table class="query-columns" style="width: 100%;">
	<!-- one row for the title and one for the list-->
	<tr>
        <td style="width: 60%;">Name</td>
        <td style="width: 20%;">Date</td>
        <td style="width: 20%;">Status</td>
    </tr>
</table>

<div class="automatic_testcases"
style="padding-left:0; overflow:auto; height:200px;border:1px; border-color:lightgrey; border-style:solid;">
	<table class="query-columns" style="width: 100%;">
<%
# Add automatic testcases
testcases.each do |t|
	if t.test_type.downcase == "automatic"
		%>
	    <tr class="<%= t.status.downcase %>">
			<td style="width: 60%;">
			<%= t.path + "." + t.name %>
			</td>
			<td style="width: 20%;">
			<%= t.time_last_run.strftime("%d.%m.%Y %H:%M") %>
			</td>
			<td style="width: 20%;">
			/// <%= t.status.downcase %> ///
			</td>
		</tr>
		<%
	end
end
%>
    </table>
</div>

<hr /> <!--horizontal line-->

<p><strong>Manual testcases</strong></p>

<table class="query-columns" style="width: 100%;">
	<!-- one row for the title and one for the list-->
    <tr>
    	<td style="width:60%;">Name</td>
	    <td style="width:20%;">Date</td>
    	<td style="width:20%;">Status</td>
   	</tr>
</table>

<div class="manual_testcases" style="overflow:auto; height:200px; border:1px; border-color:lightgrey; border-style:solid;">
    <table class="query-columns" style="width: 100%;">
<%
# Add non-automatic (manual) testcases
testcases.each do |t|
	if t.test_type.downcase != "automatic"
		%>
	    <tr id="test_<%= t.id %>" class="<%= t.status.downcase %>">
			<td style="width: 60%;">
			<%= t.path + "." + t.name %>
			</td>
			<td id="time_last_run" style="width: 20%;">
			<%= t.time_last_run.strftime("%d.%m.%Y %H:%M") %>
			</td>
			<td id="status" style="width: 20%;">
			/// <%= t.status.downcase %> ///
			</td>
		</tr>
		<tr>
			<td colspan="2"><%= t.description %></td>
			<td>
				<input type="button" id="togglebutton" onclick="toggle(<%= @project.id %>, <%= t.id %>)" value="toggle status" class="togglebutton">
			</td>
        </tr>
		<%
	end
end
%>
    </table>
</div>
