<table>
  <tbody>
    <tr>
      <th>Server URL</th>
      <td>
        <input type="text" id="settings_red_jenkins_server_url" 
                           value="<%= settings['red_jenkins_server_url'] %>" 
                           name="settings[red_jenkins_server_url]" >
      </td>
    </tr>
    
    <tr>
      <th>Server IP</th>
      <td>
        <input type="text" id="settings_red_jenkins_server_ip" 
                           value="<%= settings['red_jenkins_server_ip'] %>" 
                           name="settings[red_jenkins_server_ip]" >
      </td>
    </tr>
    <tr>
      <th>Server port</th>
      <td>
        <input type="text" id="settings_red_jenkins_server_port" 
                           value="<%= settings['red_jenkins_server_port'] %>" 
                           name="settings[red_jenkins_server_port]" >
      </td>
    </tr>
    
    <tr>
      <th>Proxy IP</th>
      <td>
        <input type="text" id="settings_red_jenkins_proxy_ip" 
                           value="<%= settings['red_jenkins_proxy_ip'] %>" 
                           name="settings[red_jenkins_proxy_ip]" >
      </td>
    </tr>
    <tr>
      <th>Proxy port</th>
      <td>
        <input type="text" id="settings_red_jenkins_proxy_port" 
                           value="<%= settings['red_jenkins_proxy_port'] %>" 
                           name="settings[red_jenkins_proxy_port]" >
      </td>
    </tr>
    
    <tr>
      <th>Jenkins path</th>
      <td>
        <input type="text" id="settings_red_jenkins_jenkins_path" 
                           value="<%= settings['red_jenkins_jenkins_path'] %>" 
                           name="settings[red_jenkins_jenkins_path]" >
      </td>
    </tr>
    
    <tr>
      <th>Username</th>
      <td>
        <input type="text" id="settings_red_jenkins_unsername" 
                           value="<%= settings['red_jenkins_username'] %>" 
                           name="settings[red_jenkins_username]" >
      </td>
    </tr>
    
    <tr>
      <th>Password</th>
      <td>
        <input type="password" id="settings_red_jenkins_password" 
                           value="<%= settings['red_jenkins_password'] %>" 
                           name="settings[red_jenkins_password]" >
      </td>
    </tr>
    
    <tr>
      <th>Password base64</th>
      <td>
        <input type="text" id="settings_red_jenkins_password_base64" 
                           value="<%= settings['red_jenkins_password_base64'] %>" 
                           name="settings[red_jenkins_password_base64]" >
      </td>
    </tr>
    
    <tr>
      <th>Log location</th>
      <td>
        <input type="text" id="settings_red_jenkins_log_location" 
                           value="<%= settings['red_jenkins_log_location'] %>" 
                           name="settings[red_jenkins_log_location]" >
      </td>
    </tr>
    
    <tr>
      <th>Log level</th>
      <td>
        <input type="text" id="settings_red_jenkins_log_level" 
                           value="<%= settings['red_jenkins_log_level'] %>" 
                           name="settings[red_jenkins_log_level]" >
      </td>
    </tr>
    
    <tr>
      <th>Timeout</th>
      <td>
        <input type="text" id="settings_red_jenkins_timeout" 
                           value="<%= settings['red_jenkins_timeout'] %>" 
                           name="settings[red_jenkins_timeout]" >
      </td>
    </tr>
    
    <tr>
      <th>http_open_timeout</th>
      <td>
        <input type="text" id="settings_red_jenkins_http_open_timeout" 
                           value="<%= settings['red_jenkins_http_open_timeout'] %>" 
                           name="settings[red_jenkins_http_open_timeout]" >
      </td>
    </tr>
    
        <tr>
      <th>http_read_timeout</th>
      <td>
        <input type="text" id="settings_red_jenkins_http_read_timeout" 
                           value="<%= settings['red_jenkins_http_read_timeout'] %>" 
                           name="settings[red_jenkins_http_read_timeout]" >
      </td>
    </tr> 
    
        <tr>
      <th>ssl</th>
      <td>
        <input type="checkbox" id="settings_red_jenkins_ssl" 
                           value="<%= settings['red_jenkins_ssl'] %>" 
                           name="settings[red_jenkins_ssl]" >
      </td>
    </tr>
    
        <tr>
      <th>follow_redirects</th>
      <td>
        <input type="checkbox" id="settings_red_jenkins_follow_redirects" 
                           value="<%= settings['red_jenkins_follow_redirects'] %>" 
                           name="settings[red_jenkins_follow_redirects]" >
      </td>
    </tr>
    
        <tr>
      <th>identity_file</th>
      <td>
        <input type="text" id="settings_red_jenkins_identity_file" 
                           value="<%= settings['red_jenkins_identity_file'] %>" 
                           name="settings[red_jenkins_identity_file]" >
      </td>
    </tr>
    
        <tr>
      <th>cookies</th>
      <td>
        <input type="text" id="settings_red_jenkins_cookies" 
                           value="<%= settings['red_jenkins_cookies'] %>" 
                           name="settings[red_jenkins_cookies]" >
      </td>
    </tr>
    
  </tbody>
</table>
