<%= title "New testcase" %>
<%# TODO: add correct path %>
<%= labelled_form_for @testcase, :url => project_testcases_path,
                             :html => {:multipart => true} do |f| %>
  <%= error_messages_for 'issue' %>
  <%= hidden_field_tag 'copy_from', params[:copy_from] if params[:copy_from] %>
  <div class="box tabular">
    <div id="all_attributes">
    <%# Textfield for the name %>
	<p><%= f.text_field :name, :size => 80, :maxlength => 255, :required => true %></p>
	<%# Textfield for description %>
	<p>
 		<%= f.label_for_field :description, :required => true %>
  		<%= content_tag 'span', :id => "testcase_description_and_toolbar" do %>
    		<%= f.text_area :description,
                   :cols => 60,
                   :rows => (@testcase.description.blank? ? 10 : [[10, @testcase.description.length / 50].max, 100].min),
                   :accesskey => accesskey(:edit),
                   :class => 'wiki-edit',
                   :no_label => true %>
  		<% end %>
	</p>
	<%= wikitoolbar_for 'testcase_description' %>
	<p>
		<%= f.select :path, (@testcases_available.collect{|p| [p.path]}), {:required => true}, :prompt => 'Enter path' %>
	</p>
    </div>
  </div>

  <%= submit_tag l(:button_create) %>
  <%= submit_tag l(:button_create_and_continue), :name => 'continue' %>
<% end %>

<% content_for :header_tags do %>
    <%= robot_exclusion_tag %>
<% end %>
