<%= title "New testcase" %>
<!-- TODO: add correct path -->
<%= labelled_form_for @testcase, :url => testcases_path,
                             :html => {:id => 'issue-form', :multipart => true} do |f| %>
  <%= error_messages_for 'issue' %>
  <%= hidden_field_tag 'copy_from', params[:copy_from] if params[:copy_from] %>
  <div class="box tabular">
    <div id="all_attributes">
	<p><%= f.text_field :name, :size => 80, :maxlength => 255, :required => true %></p>

	<% if @testcase.safe_attribute? 'description' %>
	<p>
 		<%= f.label_for_field :description, :required => @issue.required_attribute?('description') %>
  		<%= link_to_function image_tag('edit.png'), '$(this).hide(); $("#issue_description_and_toolbar").show()' unless @issue.new_record? %>
  		<%= content_tag 'span', :id => "issue_description_and_toolbar", :style => (@issue.new_record? ? nil : 'display:none') do %>
    		<%= f.text_area :description,
                   :cols => 60,
                   :rows => (@issue.description.blank? ? 10 : [[10, @issue.description.length / 50].max, 100].min),
                   :accesskey => accesskey(:edit),
                   :class => 'wiki-edit',
                   :no_label => true %>
  		<% end %>
	</p>
	<%= wikitoolbar_for 'issue_description' %>
	<% end %>
  </div>

  <%= submit_tag l(:button_create) %>
  <%= submit_tag l(:button_create_and_continue), :name => 'continue' %>
<% end %>

<% content_for :header_tags do %>
    <%= robot_exclusion_tag %>
<% end %>
